.header {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	margin: 1rem 1rem 0;
}

.header svg {
	--logomark-colour: var(--page-accent);
	max-width: 5rem;
	fill: var(--logomark-colour);
	margin-top: 2rem;
}

@media only screen and (min-width: 700px) {
	.header {
		grid-template-columns: 1fr auto;
		width: 80%;
		max-width: 50rem;
		margin: 1rem auto;
		justify-items: left;
	}
}

@media only screen and (min-width: 1000px) {
	.header {
		padding-left: 5rem;
	}
}
