.nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li {
	padding: 1rem;
}

.nav a {
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a:hover {
	text-decoration: underline;
	text-decoration-thickness: 0.2em;
	text-underline-offset: 0.4em;
}

@media only screen and (min-width: 700px) {
	.nav {
		margin-top: 2rem;
	}
}
