.nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li {
	padding: 1rem;
}

.nav a {
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a:hover::before,
.nav a:active::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-left: 0.25rem solid transparent;
	border-right: 0.25rem solid transparent;
	border-bottom: 0.5rem solid var(--page-accent);
	margin: -0.65rem auto 0.1rem;
}

@media only screen and (min-width: 700px) {
	.nav {
		margin-top: 2rem;
	}
}
